.c-dashboardInfo {
    margin-bottom: 15px;
    height: 150px;
    width: 170px;
}

.wrap {
    background: #ffffff;
    box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-dashboardInfo__title{
    color: #6c6c6c;
    font-size: 1.18em;
}

.c-dashboardInfo__count {
    font-weight: 600;
    font-size: 2.5em;
    line-height: 64px;
    color: #323c43;
}

.wrap:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    content: "";
}

.c-dashboardInfo:nth-child(1) .wrap:after {
    background: linear-gradient(69.83deg, #0084f4 0%, #00c48c 100%);
}

.categories-skeleton {
    height: 120px;
    display: flex;
    flex-direction: row;
    gap: 2;
    justify-content: space-between;
}

.categories-skeleton div {
    border-radius: 8px;
    height: 120px;
    width: 150px;

}