.react-datalist-input__container>* {
  box-sizing: border-box;
}

.react-datalist-input__container {
  width: 100%;
  position: relative;
}

.react-datalist-input__textbox {
  width: 100%;
  height: 43.56px !important;
  margin: 0;
  border: 1px solid #e4e6ef !important;
  padding: 0.775rem 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #5E6278;
  background-color: #ffffff;
  background-clip: padding-box;
  appearance: none;
  border-radius: 0.475rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.react-datalist-input__textbox::placeholder {
  color: #a1a5b7;
}

.react-datalist-input__listbox {
  max-height: 300px;
  overflow-y: scroll;
  width: 100%;
  position: absolute;
  margin: 2px 0 0 0;
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  z-index: 10;
  border: 1px solid rgb(220, 220, 220);
}

.react-datalist-input__listbox-option {
  width: 100%;
  cursor: pointer;
  padding: 8px;
}

.react-datalist-input__textbox:focus {
  outline: none;
  border-color: #B5B5C3
}

.react-datalist-input__listbox-option:hover {
  background-color: #CACED9;
}