.demo-container {
  width: auto;
  margin: auto;
  .progress-container {
    height: 4px;
    width: 100%;
    overflow: hidden;
    .progress-bar{
      width: 100%;
      height: 100%;
      animation: indeterminateAnimation 1s infinite linear;
      transform-origin: 0% 50%;
    }
    .progress-red {
      background-color: rgb(206, 5, 42);
    }
    .progress-green {
      background-color: rgb(5, 206, 75);
    }
    .progress-blue {
      background-color: rgb(5, 114, 206);
    }
  }
  .progress-container-red {
    background-color: rgba(206, 5, 42, 0.2);
  }
  .progress-container-green {
    background-color: rgba(5, 206, 75, 0.2);
  }
  .progress-container-blue {
    background-color: rgba(5, 114, 206, 0.2);
  }
}

@keyframes indeterminateAnimation {
  0% {
    transform: translateX(0) scaleX(0);
  }

  40% {
    transform: translateX(0) scaleX(0.4);
  }

  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}